{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}



    <br>
    <center>
        <form action="/AppCoder/Buscar/"     method="get"> {% csrf_token %}
            <h1><b style = "color:blue">Buscar Curso</b></h1>
            <h5><p>Introduce el ID del curso:</p>
            <input type="number" name="indicador" id="ID">
            <input type="submit" value="Buscar"></h5>
        </form>
        <br>
        <br><a style='Color:WHITE' class="btn btn-secondary" href="{% url 'Busquedas'%}"> Regresar ↵ </a>
        <br>
        <br>
        <br>
    </center>
    
    {% endblock %}

    <!--<h5><a href="{% url 'Busquedas'%}"> Regresar ↵ </a></h5></a>-->