{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a esta vista :) -->
    <br>
    <center>
        <form action="/AppCoder/BuscarE/"     method="get"> {% csrf_token %}
            <h1>Buscar Entrenador</h1>
            <p>Introduce el Numero de Badge del Entrenador:</p>
            <input type="number" name="badge" id="ID">
            <input type="submit" value="Buscar">
        </form>
        <br>
        <br>
    </center>
    {% endblock %}