{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


 
    <br>
    <center>
        <form action="/AppCoder/BuscarP/"     method="get"> {% csrf_token %}
            <h1><b style = "color:blue">Buscar Pokemon</b></h1>
            <h5><p>Introduce el nombre del Pokemon</p>
            <input type="text" name="nombre" id="ID">
            <input type="submit" value="Buscar"></h5>
        </form>
        <br>
        <br><h5><a href="{% url 'Busquedas'%}"> Regresar ↵ </a></h5>
        <br>
    </center>
    {% endblock %}