{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <br>
    <center>

    <br>
            <br>
            <br>
            <a style='Color:WHITE' class="btn btn-success btn-lg" href="{% url 'NewC'%}"> Agregar Nuevo Cursos 🆕 </a>
            <a style="padding-left:50px;"></a><a style='Color:WHITE' class="btn btn-success btn-lg" href="{% url 'ListC'%}"> Ver Listado de Cursos 📄 </a>
            <br>
            <br>
            <br>
            <br><a style='Color:WHITE' class="btn btn-dark" href="{% url 'Inicio'%}"> Ir a Inicio 🏠 </a>
            <br>
            <br>
            <br>
    {% endblock %}
