{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <br>
    <center><h1><b style = "color:blue">Lista de Cursos</b></h1>
    <br>
    {%for curso in object_list%}
      <p><h5><FONT COLOR="red">‡</FONT> Curso ID: {{curso.indicador}} <FONT COLOR="red">‡</FONT>
        <br>  </p></h5>
        <a href="{% url 'DetailC' curso.id %}">Ver</a>
        <a href="{% url 'EditC' curso.id %}">Editar</a>
        <a href="{% url 'DeleteC' curso.id %}">Borrar</a>
      <br>
      <br>
      {%endfor%}
    <br>
    <br><a style='Color:WHITE' class="btn btn-secondary" href="{% url 'Cursos'%}"> Regresar ↵ </a><a style="padding-left:50px;"></a><a style='Color:WHITE' class="btn btn-dark" href="{% url 'Inicio'%}"> Ir a Inicio 🏠 </a>
    <br>
    <br>
    <br>
    </center>
    {% endblock %}