{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <br>
    <center>
    <br>
    <h1><p style="color:blue">Registro de Nuevos Entrenadores</p></h1>
    <br>
    <h5>
    Ingresa los datos del nuevo Entrenador: 
    <br>
    <br>
    <form action=""     method="post"> {% csrf_token %}
        <table>
            {{miFormulario.as_table}}
        </table>
        <br>
        <input type="submit", value="Enviar">
    </form></h5>
    <br>
    <br>
    {% endblock %}
