{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<br>
<center>
<br>
        <br>
        <br>
        <a style='Color:WHITE' class="btn btn-danger btn-lg" href="{% url 'NewE'%}"> Agregar Nuevo Entrenador 🆕 </a>
        <a style="padding-left:50px;"></a><a style='Color:WHITE' class="btn btn-danger btn-lg" href="{% url 'ListE'%}"> Ver Listado de Entrenadores 📄 </a>
        <br>
        <br>
        <br>
        <br><a style='Color:WHITE' class="btn btn-dark" href="{% url 'Inicio'%}"> Ir a Inicio 🏠 </a>
        <br>
        <br>
        <br>
    {% endblock %}
