{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <br>
    <center><h1><b style = "color:blue">Lista de Entrenadores</b></h1>
    <br>
    {%for entrenadores in object_list%}
      <p><h5><FONT COLOR="red">‡</FONT> {{entrenadores.nombre}} {{entrenadores.apellido}} <FONT COLOR="red">‡</FONT>
      <br>Badge: #{{entrenadores.badge}} </h5></p>
        <a href="{% url 'DetailE' entrenadores.id %}">Ver</a>
        <a href="{% url 'EditE' entrenadores.id %}">Editar</a>
        <a href="{% url 'DeleteE' entrenadores.id %}">Borrar</a>
      <br>
      <br>


    
    
    
      {%endfor%}
    <br>
    <br><a style='Color:WHITE' class="btn btn-secondary" href="{% url 'Entrenadores'%}"> Regresar ↵ </a><a style="padding-left:50px;"></a><a style='Color:WHITE' class="btn btn-dark" href="{% url 'Inicio'%}"> Ir a Inicio 🏠 </a>
    <br>
    <br>
    <br>
    </center>
    {% endblock %}