{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
    <br>
    <center>
          
    <h1><b style = "color:blue">BUSQUEDAS</b></h1>
                  
            <br>
            <br><a style='Color:WHITE' class="btn btn-success btn-lg" href="{% url 'Buscar'%}">Buscar Curso por Indicador 🔍</a>
            <a style="padding-left:50px;"></a><a style='Color:WHITE' class="btn btn-danger btn-lg" href="{% url 'BuscarE'%}">Buscar por Badge de Entrenador 🔍</a>
            <a style="padding-left:50px;"></a><a style='Color:WHITE' class="btn btn-info btn-lg" href="{% url 'BuscarP'%}">Buscar por Nombre de Pokemon 🔍</a>
            <br>
            <br><img src="https://telegramchannels.me/storage/stickers/pikachudetective/big_pikachudetective_15.png" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb KAlRDb" alt="esquina celos Obligatorio detective pikachu telegram bot Torneado Limpia el  cuarto Frustración" data-noaft="1" style="width: 337px; height: 337px; margin: 0px;">
            <br>
            <br>
            <br>
    </center>
    {% endblock %}

    <!--<a href="{% url 'Buscar'%}"><FONT COLOR="#32CD32"> Buscar Curso por Indicador 🔍 </FONT></a>
    <a style="padding-left:50px;" href="{% url 'BuscarE'%}"><FONT COLOR="#FFA500"> Buscar por Badge de Entrenador 🔍 </FONT></a>
    <a style="padding-left:50px;" href="{% url 'BuscarP'%}"><FONT COLOR="#1E90FF"> Buscar por Nombre de Pokemon 🔍 </FONT></a>-->