{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


 
    <br>
    <center><h1><b style = "color:blue">Lista de Pokemon</b></h1>
    <br>
    {%for pokemon in object_list%}
      <p><h5><FONT COLOR="red">‡</FONT> {{pokemon.nombre}} <FONT COLOR="red">‡</FONT>
      <br>Entrenador: #{{pokemon.badge}}</h5></p>
        <a href="{% url 'DetailP' pokemon.id %}">Ver</a>
        <a href="{% url 'EditP' pokemon.id %}">Editar</a>
        <a href="{% url 'DeleteP' pokemon.id %}">Borrar</a>
      <br>
      <br>
    {%endfor%}
    <br>
    <br><a style='Color:WHITE' class="btn btn-secondary" href="{% url 'Pokemon'%}"> Regresar ↵ </a><a style="padding-left:50px;"></a><a style='Color:WHITE' class="btn btn-dark" href="{% url 'Inicio'%}"> Ir a Inicio 🏠 </a>
    <br>
    <br>
    <br>
    </center>
    {% endblock %}