{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<br>
<center><h1><b style = "color:blue">Agregar o Editar Pokemon</b></h1>
<br>
<form action=""     method="post"> {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <br>
    <input type="submit" value="Crear / Actualizar">
</form>
<br>
<br>
    <b style = "color:rgb(255, 0, 0)">*Formato de Fecha = AAAA-MM-DD
    <br>
**Badge = ID del entrenador
    </b>
<br>
<br>
<br><a style='Color:WHITE' class="btn btn-secondary" href="{% url 'Pokemon'%}"> Regresar ↵ </a>
<br>
<br>
</center>
{% endblock %}