{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


 
    <br>
    <center>
        <h1 style = "color:rgb(35, 255, 1)">Resultados:</h1>
        <br>
        <h5><b style="color:blue"> 🟆 ID 🟆 </b> 
        <br>{{indicador}}
        <br>
        <br>
        <b style="color:blue"> 🟆 Nombre del Curso 🟆 </b> 
        <br>{%for curso in cursos%}
            {{curso.nombre}}        
        <br>
        {%endfor%}
        <br>
        <b style="color:blue"> 🟆 Entrenadores Inscritos 🟆 </b> 
        <br>{%for entrenadores in entrenadores%}
            • {{entrenadores.nombre}} {{entrenadores.apellido}}      
        <br>
        {%endfor%}
        <br>
        <br><a style='Color:WHITE' class="btn btn-secondary" href="{% url 'Buscar'%}"> Regresar ↵ </a>
        <br>
        <br>
        <br>
    </center>
    {% endblock %}