{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}



    <br>
    <center>
        <h1 style = "color:rgb(35, 255, 1)">Resultados:</h1>
        <br>
        <h5><b style="color:blue"> 🟆 Nombre del Pokemon 🟆 </b> 
        <br>{{nombre}}
        <br>
        <br>
        <b style="color:blue"> 🟆 Datos 🟆 </b> 
        {%for pokemon in pokemon%}
        <h5><FONT COLOR="red">Tipo: </FONT>{{pokemon.tipo}} 
            <br> 
            <br><FONT COLOR="red">Sexo: </FONT>{{pokemon.sexo}} 
            <br>
            <br><FONT COLOR="red">Fecha de Captura: </FONT>{{pokemon.fecha_de_captura}} 
            <br>
            <br><FONT COLOR="red">Badge del Entrenador: </FONT>{{pokemon.badge}} 
            <br>
            <br><FONT COLOR="red">¿En equipo actual?:</FONT> {{pokemon.en_equipo}}</h5>
            <br>
           
         {%endfor%}
        <br>
        <br><a style='Color:WHITE' class="btn btn-secondary" href="{% url 'BuscarP'%}"> Regresar ↵ </a>
        <br>
        <br>
        <br>
        </center>
    {% endblock %}